In [ ]:
import pandas as pd
import numpy as np

1)Working with pandas series

#a)Series through list

In [3]:
l1=[1,2,3,4,5]
print(pd.Series(l1))

0    1
1    2
2    3
3    4
4    5
dtype: int64

b)Series through numpy

In [6]:
b=np.array(l1)
print(pd.Series(b))

0    1
1    2
2    3
3    4
4    5
dtype: int64

#c)Giving index from our own

In [7]:
c=pd.Series(index=[ 'vignay','abhinay','rahul','vishal'],data=[0,1,2,3])
print(c)

vignay     0
abhinay    1
rahul      2
vishal     3
dtype: int64

#d)Series through dictionary values

In [9]:
d1={1:'a',2:'b',3:'c'}
print(pd.Series(d1))
print("*"*30)
d2={'1':1,'2':1,'3':3}
print(pd.Series(d2))

1    a
2    b
3    c
dtype: object
******************************
1    1
2    1
3    3
dtype: int64

#e)Using a repeat function to create a series

In [10]:
print(pd.Series(1).repeat(3).reset_index(drop=True))
print("*"*30)
print(pd.Series([1,2,3]).repeat(3).reset_index())

0    1
1    1
2    1
dtype: int64
******************************
   index  0
0      0  1
1      0  1
2      0  1
3      1  2
4      1  2
5      1  2
6      2  3
7      2  3
8      2  3

#f)Accessing the Series elements

In [11]:
a=pd.Series(1).repeat(3).reset_index(drop=True)
print(a[0])  #1
print("*"*30)
print(a)
print("*"*30)
print(a[0:2])
print("*"*30)
print(a[1:-1])
print("*"*30)
print(a[1])#1

1
******************************
0    1
1    1
2    1
dtype: int64
******************************
0    1
1    1
dtype: int64
******************************
1    1
dtype: int64
******************************
1

#g)Aggregate function on pandas series

In [15]:
s=pd.Series([1,2,3,4,5,6,7])
print(max(s))#7
print(min(s))
print(sum(s))
# print(s.agg([min,max,sum]))-------------------------------------------------------------

7
1
28

#h)Series absolute function

In [16]:
a=pd.Series([-1,-2,3,4,-5,6,7])
print(a.abs())

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

#i)Appending Series

In [17]:
a=pd.Series([1,2,3,4,5,6,7,8])
b=pd.Series([1,2,3,4,5,-1])
print(a._append(b).reset_index(drop=True))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     1
9     2
10    3
11    4
12    5
13   -1
dtype: int64

#j)Astype  function

In [21]:
print(type(a))
print(type(a[0]))
print(a.astype(float))
print("*"*30)
print(a.astype(str))
print("*"*30)
print(a.astype(bool))

<class 'pandas.core.series.Series'>
<class 'numpy.int64'>
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.0
7    8.0
dtype: float64
******************************
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: object
******************************
0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
dtype: bool

#K)Between function

In [22]:
a=pd.Series([1,2,30,4,5,6,7,8,9,10])
print(a.between(10,50))

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9     True
dtype: bool

#l)All strings functions  can be used to extract or modify texts in a series

In [23]:
a=pd.Series(["Vignay reddy muduganti","REVANTH REDDY","varun","vaishnav"])
print(a.str.upper())
print("*"*30)
print(a.str.lower())
print("*"*30)
for i in a:
    print(i,len(i))

0    VIGNAY REDDY MUDUGANTI
1             REVANTH REDDY
2                     VARUN
3                  VAISHNAV
dtype: object
******************************
0    vignay reddy muduganti
1             revanth reddy
2                     varun
3                  vaishnav
dtype: object
******************************
Vignay reddy muduganti 22
REVANTH REDDY 13
varun 5
vaishnav 8

#m)String Split functions

In [25]:
print(a.str.split())
print("*"*30)
print(pd.Series(['10/3/1983','10/3/1994','29/10/1998']).str.split('/')[0])
print("*"*30)
print(pd.Series(['10/3/1983','10/3/1994','29/10/1998']).str.split('/')[1])
print("*"*30)
print(pd.Series(['10/3/1983','10/3/1994','29/10/1998']).str.split('/')[2])

0    [Vignay, reddy, muduganti]
1              [REVANTH, REDDY]
2                       [varun]
3                    [vaishnav]
dtype: object
******************************
['10', '3', '1983']
******************************
['10', '3', '1994']
******************************
['29', '10', '1998']

#n)contains function

In [26]:
a=pd.Series(["Vignay reddy muduganti","REVANTH REDDY","varun","vaishnav"])
print(a.str.contains('A'))

0    False
1     True
2    False
3    False
dtype: bool

#o)Replace Function

In [27]:
a=pd.Series(["Vignay reddy muduganti","REVANTH REDDY","varun","vaishnav"])
print(a.str.replace('A'," "))

0    Vignay reddy muduganti
1             REV NTH REDDY
2                     varun
3                  vaishnav
dtype: object

#P)Count function

In [28]:
a=pd.Series(["Vignay reddy muduganti","REVANTH REDDY","varun","vaishnav"])
print(a.str.count('a'))

0    2
1    0
2    1
3    2
dtype: int64

#Q)Startswith and Endswith

In [30]:
print(a.str.startswith('V'))
print("*"*30)
print(a.str.endswith('v'))

0     True
1    False
2    False
3    False
dtype: bool
******************************
0    False
1    False
2    False
3     True
dtype: bool

#R)Find function

In [31]:
#Evaluates the entire string-------------------------------------------------------
print(a.str.find("varun"))

0   -1
1   -1
2    0
3   -1
dtype: int64

#S)Converting a Series to List

In [32]:
b=a.to_list()
print(type(b))

<class 'list'>

#2)Detailed Coding Implementations on pandas DataFrame

#a)Creating dataframe from a dictionary of ndarray/lists

In [34]:
lst=['welcome','to','cvr','college','of','enginerring']
print(type(pd.DataFrame(lst)))
print("*"*30)
print(pd.DataFrame(lst))
print("*"*30)
lst=[['vignay','C4'],['Revanth','C3'],['Vaishnav','C5']]
print(lst)
print("*"*30)
print(pd.DataFrame(lst))
print("*"*30)
data={'Name':["vignay","varun","revanth","vaishnav"],'Age':[18,19,20,21]}
print(data)
print("*"*30)
print(pd.DataFrame(data))
print("*"*30)
data={'Name':["vignay","varun","revanth","vaishnav"],
      'Age':[18,19,20,21],
      'Address':["usa","uk","canada","india"],
      'Qualifications':['M.S',"Btech","C.A","M.B.B.S"]}
a=pd.DataFrame(data)
b=a[['Name','Qualifications']]
print(b)

<class 'pandas.core.frame.DataFrame'>
******************************
             0
0      welcome
1           to
2          cvr
3      college
4           of
5  enginerring
******************************
[['vignay', 'C4'], ['Revanth', 'C3'], ['Vaishnav', 'C5']]
******************************
          0   1
0    vignay  C4
1   Revanth  C3
2  Vaishnav  C5
******************************
{'Name': ['vignay', 'varun', 'revanth', 'vaishnav'], 'Age': [18, 19, 20, 21]}
******************************
       Name  Age
0    vignay   18
1     varun   19
2   revanth   20
3  vaishnav   21
******************************
       Name Qualifications
0    vignay            M.S
1     varun          Btech
2   revanth            C.A
3  vaishnav        M.B.B.S

#b)Slicing in dataframes using Iloc and Loc (location and indexlocation)---------------------------------------------------------                iloc takes last element also whereas loc does not------- iloc is only index based

In [7]:
data={'one':pd.Series([1,2,3,4]),
      'two':pd.Series([10,20,30,40]),
      'three':pd.Series([100,200,300,400]),
      'four':pd.Series([1000,2000,3000,4000])
      }
a=pd.DataFrame(data)
print(a)
print(a.loc[1:])
print("*"*100)
print(a.loc[::-1])
print("*"*100)
print(a.loc[1:2,'two':'four'])
print("*"*100)
print(a.iloc[1:2])
print("*"*100)
print(a.iloc[1:-1,1:-1])
print("*"*100)
print(a.iloc[:,2:3])
print("*"*100)
print(a.iloc[[0,2]])
print("*"*100)
print(a.iloc[[0,2],[1,3]])

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
   one  two  three  four
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
****************************************************************************************************
   one  two  three  four
3    4   40    400  4000
2    3   30    300  3000
1    2   20    200  2000
0    1   10    100  1000
****************************************************************************************************
   two  three  four
1   20    200  2000
2   30    300  3000
****************************************************************************************************
   one  two  three  four
1    2   20    200  2000
****************************************************************************************************
   two  three
1   20    200
2   30    300
****************************************************************************************************
   three
0    100
1    200
2    300
3    400
****************************************************************************************************
   one  two  three  four
0    1   10    100  1000
2    3   30    300  3000
****************************************************************************************************
   two  four
0   10  1000
2   30  3000

#c)Slicing Using Conditions

In [37]:
print(a['two']>20)
print("*"*30)
print(a[a['two']>20])
print("*"*30)
c=a.loc[a['two']>20,["three","four"]]
print(c)
print("*"*30)
print(a.loc[a['three']<300,['one','four']])

0    False
1    False
2     True
3     True
Name: two, dtype: bool
******************************
   one  two  three  four
2    3   30    300  3000
3    4   40    400  4000
******************************
   three  four
2    300  3000
3    400  4000
******************************
   one  four
0    1  1000
1    2  2000

#d)Column addition in DataFrame

In [38]:
print(a)
l=[22,33,44,55]
a['five']=l
print(a)
print("*"*30)
l1=pd.Series([111,222,333,444])
a['six']=l1
print(a)
print("*"*30)
a['seven']=a['one']+10
print(a)
print("*"*30)
a['eight']=a['one']/10
print(a)
print("*"*30)

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
   one  two  three  four  five
0    1   10    100  1000    22
1    2   20    200  2000    33
2    3   30    300  3000    44
3    4   40    400  4000    55
******************************
   one  two  three  four  five  six
0    1   10    100  1000    22  111
1    2   20    200  2000    33  222
2    3   30    300  3000    44  333
3    4   40    400  4000    55  444
******************************
   one  two  three  four  five  six  seven
0    1   10    100  1000    22  111     11
1    2   20    200  2000    33  222     12
2    3   30    300  3000    44  333     13
3    4   40    400  4000    55  444     14
******************************
   one  two  three  four  five  six  seven  eight
0    1   10    100  1000    22  111     11    0.1
1    2   20    200  2000    33  222     12    0.2
2    3   30    300  3000    44  333     13    0.3
3    4   40    400  4000    55  444     14    0.4
******************************

#e)Column deletion in DataFrames
#USING del
#USING pop

In [39]:
del a['eight']
print(a)
print("*"*30)
print(a.pop('seven'))
print("*"*30)
print(a)

   one  two  three  four  five  six  seven
0    1   10    100  1000    22  111     11
1    2   20    200  2000    33  222     12
2    3   30    300  3000    44  333     13
3    4   40    400  4000    55  444     14
******************************
0    11
1    12
2    13
3    14
Name: seven, dtype: int64
******************************
   one  two  three  four  five  six
0    1   10    100  1000    22  111
1    2   20    200  2000    33  222
2    3   30    300  3000    44  333
3    4   40    400  4000    55  444

#f)Addition of rows

In [41]:
d1=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
d2=pd.DataFrame([[5,6],[7,8]],columns=['a','b'])
print(d1)
print("*"*30)
print(d2)
print("*"*30)
print(d1._append(d2).reset_index(drop=True))
print("*"*30)

   a  b
0  1  2
1  3  4
******************************
   a  b
0  5  6
1  7  8
******************************
   a  b
0  1  2
1  3  4
2  5  6
3  7  8
******************************

#g)Pandas drop function

In [42]:
data={'one':pd.Series([1,2,3,4]),
      'two':pd.Series([10,20,30,40]),
      'three':pd.Series([100,200,300,400]),
      'four':pd.Series([1000,2000,3000,4000])
      }
a=pd.DataFrame(data)
print(a)
print("*"*30)
# axis=0-->row wise--------------------------------------------------------------------------------------------------------------
# axis=1-->column wise-----------------------------------------------------------------------------------------------------------
print(a.drop([0,1],axis=0))
print("*"*30)
print(a.drop(['one','three'],axis=1))
print("*"*30)
print(a)
print("*"*30)
c=a.drop(['one','three'],axis=1,inplace=True)#-----------------
print(a)

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
   one  two  three  four
2    3   30    300  3000
3    4   40    400  4000
******************************
   two  four
0   10  1000
1   20  2000
2   30  3000
3   40  4000
******************************
   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
   two  four
0   10  1000
1   20  2000
2   30  3000
3   40  4000

#h)Transposing a DataFrame

In [3]:
data={'one':pd.Series([1,2,3,4]),
      'two':pd.Series([10,20,30,40]),
      'three':pd.Series([100,200,300,400]),
      'four':pd.Series([1000,2000,3000,4000])
      }
a=pd.DataFrame(data)
print(a)
print("*"*30)
b=a.T
print(b)

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
          0     1     2     3
one       1     2     3     4
two      10    20    30    40
three   100   200   300   400
four   1000  2000  3000  4000

#i)A set of more DataFrame Functionalities

#1)Axis

In [4]:
print(a.axes)

[RangeIndex(start=0, stop=4, step=1), Index(['one', 'two', 'three', 'four'], dtype='object')]

#2)ndim function
2------for a data frame-always (rows and columns)

In [5]:
print(a.ndim)

2

#3)dtypes function

In [6]:
print(a.dtypes)

one      int64
two      int64
three    int64
four     int64
dtype: object

#4)shape function

In [7]:
print(a.shape)

(4, 4)

#5)head() function

In [8]:
d={'name':pd.Series(["tom","jerrry",'olive','spike','popey','mickey','bluto']),
   'age':pd.Series([10,12,14,30,28,33,15]),
   'Height':pd.Series([3.25,1.11,4.12,5.47,6.15,6.67,2.61])
   }
a=pd.DataFrame(d)
print(a)
#This head() method returns first n rows (by default=5) of the dataframe
print("*"*30)
print(a.head())
print("*"*30)
print(a.head(3))
#No error when more number is given all are printed-------------------------------------------------

     name  age  Height
0     tom   10    3.25
1  jerrry   12    1.11
2   olive   14    4.12
3   spike   30    5.47
4   popey   28    6.15
5  mickey   33    6.67
6   bluto   15    2.61
******************************
     name  age  Height
0     tom   10    3.25
1  jerrry   12    1.11
2   olive   14    4.12
3   spike   30    5.47
4   popey   28    6.15
******************************
     name  age  Height
0     tom   10    3.25
1  jerrry   12    1.11
2   olive   14    4.12

#6)Tail() function

In [10]:
print(a.tail())
#Prints last five values by default similar to head()

     Team  Rank  Year  Points
7      SA     1  2017     824
8      NZ     2  2016     758
9      NZ     4  2014     691
10     NZ     1  2015     883
11  India     2  2017     782

#7)empty function
#Tells whether dataframe is empty or not

In [11]:
print(a.empty)
df=pd.DataFrame([])
print(df.empty)

False
True

#j)Statistical or Mathematical Functions

In [12]:
data={'one':pd.Series([1,2,3,4]),
      'two':pd.Series([10,20,30,40]),
      'three':pd.Series([100,200,300,400]),
      'four':pd.Series([1000,2000,3000,4000])
      }
a=pd.DataFrame(data)
print(a)
print("*"*30)
#a)sum()
print(a.sum())
print("*"*30)
#b)mean()
print(a.mean())
print("*"*30)
#c)median()
print(a.median())
print("*"*30)
#d)mode()
d=pd.DataFrame({'A':[1,2,2,3,4,4,4,5],
                'B':[10,20,20,30,40,40,50,60]}
               )
print(d)
print("*"*30)
print(d['A'].mode())
print("*"*30)
print(d['B'].mode())
#e)variance()
print(d.var())
print("*"*30)
#f)min() function
print(d.min())
print("*"*30)
#g)max() function
print(d.max())
print("*"*30)
#h)Standard Deviation() function
print(d.std())

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
one         10
two        100
three     1000
four     10000
dtype: int64
******************************
one         2.5
two        25.0
three     250.0
four     2500.0
dtype: float64
******************************
one         2.5
two        25.0
three     250.0
four     2500.0
dtype: float64
******************************
   A   B
0  1  10
1  2  20
2  2  20
3  3  30
4  4  40
5  4  40
6  4  50
7  5  60
******************************
0    4
Name: A, dtype: int64
******************************
0    20
1    40
Name: B, dtype: int64
A      1.839286
B    283.928571
dtype: float64
******************************
A     1
B    10
dtype: int64
******************************
A     5
B    60
dtype: int64
******************************
A     1.356203
B    16.850180
dtype: float64

#k)Describe Function

In [13]:
data={'one':pd.Series([1,2,3,4]),
      'two':pd.Series([10,20,30,40]),
      'three':pd.Series([100,200,300,400]),
      'four':pd.Series([1000,2000,3000,4000]),
      'five':pd.Series(['A','B','C','D'])
      }
a=pd.DataFrame(data)
print(a.describe())

            one        two       three         four
count  4.000000   4.000000    4.000000     4.000000
mean   2.500000  25.000000  250.000000  2500.000000
std    1.290994  12.909944  129.099445  1290.994449
min    1.000000  10.000000  100.000000  1000.000000
25%    1.750000  17.500000  175.000000  1750.000000
50%    2.500000  25.000000  250.000000  2500.000000
75%    3.250000  32.500000  325.000000  3250.000000
max    4.000000  40.000000  400.000000  4000.000000

l)Pipe function

#1)Pipe Function

In [8]:
data={'one':pd.Series([1,2,3,4]),
      'two':pd.Series([10,20,30,40]),
      'three':pd.Series([100,200,300,400]),
      'four':pd.Series([1000,2000,3000,4000])
      }
a=pd.DataFrame(data)
print(a)
print("*"*30)
def  add(i,j):
    return i+j
def sub(i,j):
    return i-j
print(a.pipe(add,10))
print("*"*30)
def mean(col):
    return col.mean()
def square(i):
    return i**2
print(a.pipe(mean))
print("*"*30)
print(a.pipe(square))
print("*"*30)
print(a.pipe(mean).pipe(square))

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
   one  two  three  four
0   11   20    110  1010
1   12   30    210  2010
2   13   40    310  3010
3   14   50    410  4010
******************************
one         2.5
two        25.0
three     250.0
four     2500.0
dtype: float64
******************************
   one   two   three      four
0    1   100   10000   1000000
1    4   400   40000   4000000
2    9   900   90000   9000000
3   16  1600  160000  16000000
******************************
one            6.25
two          625.00
three      62500.00
four     6250000.00
dtype: float64

#2)Apply Function

In [6]:
data={'one':pd.Series([1,2,3,4]),
      'two':pd.Series([10,20,30,40]),
      'three':pd.Series([100,200,300,400]),
      'four':pd.Series([1000,2000,3000,4000])
      }
a=pd.DataFrame(data)
print(a)
print("*"*30)
print(a.apply(np.mean))
print("*"*30)
print(a.apply(square))
print("*"*30)
print(a.apply(lambda x:x.max()-x.min()))

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
one         2.5
two        25.0
three     250.0
four     2500.0
dtype: float64
******************************
   one   two   three      four
0    1   100   10000   1000000
1    4   400   40000   4000000
2    9   900   90000   9000000
3   16  1600  160000  16000000
******************************
one         3
two        30
three     300
four     3000
dtype: int64

#3)Apply map or map function
#Applymap has beeen deprecated from  the python ----------------

In [7]:
print(a.map(lambda x:x*100))
print("*"*30)
#Element wise operation only
a=pd.DataFrame({'A':[1.2,3.4,5.6],
                'B':[7.8,9.1,2.3]})
print(a)
print("*"*30)
b=a.map(np.int64)
print(b)
print("*"*30)
# print(b.map(lambda row:row.mean(),axis=1))------------------#ERROR--------------------
c=a.apply(lambda row:row.mean(),axis=1)
print(c)

   one   two  three    four
0  100  1000  10000  100000
1  200  2000  20000  200000
2  300  3000  30000  300000
3  400  4000  40000  400000
******************************
     A    B
0  1.2  7.8
1  3.4  9.1
2  5.6  2.3
******************************
   A  B
0  1  7
1  3  9
2  5  2
******************************
0    4.50
1    6.25
2    3.95
dtype: float64

#m)Reindex Function

In [8]:
data={'one':pd.Series([1,2,3,4]),
      'two':pd.Series([10,20,30,40]),
      'three':pd.Series([100,200,300,400]),
      'four':pd.Series([1000,2000,3000,4000])
      }
a=pd.DataFrame(data)
print(a)
print("*"*30)
#ROWS REINDEXING
b=a.reindex([0,1,2,3])
print(b)
print("*"*30)
#COLUMN REINDEXING
data={'Name':['John','Jane','Jim','Joan'],
      'Age':[25,30,35,40],
      'City':['New York','Los Angeles','Chicago','Houston']}
a=pd.DataFrame(data)
c=a.reindex(index=[0,1,2,3],columns=["Name",'City',"Age"])
print(c)
print("*"*30)

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
   Name         City  Age
0  John     New York   25
1  Jane  Los Angeles   30
2   Jim      Chicago   35
3  Joan      Houston   40
******************************

#We can't change the index but we can change the referringindex-----------
#n)Renaming Columns in pandas DataFrame

In [9]:
data={'one':pd.Series([1,2,3,4]),
      'two':pd.Series([10,20,30,40]),
      'three':pd.Series([100,200,300,400]),
      'four':pd.Series([1000,2000,3000,4000])
      }
a=pd.DataFrame(data)
print(a.rename(columns={'one':'One','two':'Two',"three":"Three",'four':"Four"}))
print("*"*30)
#Inplace make the data change in original dataframes-------------------------------------------------
print(a.rename(columns={'one':'One','two':'Two',"three":"Three",'four':"Four"},index={0:'a',1:'b',2:'c',3:'d'}))
print("*"*30)
a.rename(columns={'one':'One','two':'Two',"three":"Three",'four':"Four"},inplace=True,index={0:'a',1:'b',2:'c',3:'d'})
print(a)
print("*"*30)
#inplace returns  none

   One  Two  Three  Four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
   One  Two  Three  Four
a    1   10    100  1000
b    2   20    200  2000
c    3   30    300  3000
d    4   40    400  4000
******************************
   One  Two  Three  Four
a    1   10    100  1000
b    2   20    200  2000
c    3   30    300  3000
d    4   40    400  4000
******************************

#O)Sorting in Pandas DataFrames

In [11]:
data={'one':pd.Series([111,21,31,41]),
      'two':pd.Series([10,20,30,40]),
      'three':pd.Series([100,200,300,400]),
      'four':pd.Series([1000,2000,3000,4000])
      }
a=pd.DataFrame(data)
#Sort with respect to specified column
print(a.sort_values(by="one"))
print("*"*30)
#Sort in specific value
print(a.sort_values(by="one",ascending=False))
print("*"*30)
#Sort in specific Order on multiple Columns
print(a.sort_values(by=['one','two']))
print("*"*30)
#Sort with specific Sorting Algorithm<br>
#Quicksort,Mergesort,Heapsort
print(a.sort_values(by=['one'],kind="heapsort"))
print("*"*30)

   one  two  three  four
1   21   20    200  2000
2   31   30    300  3000
3   41   40    400  4000
0  111   10    100  1000
******************************
   one  two  three  four
0  111   10    100  1000
3   41   40    400  4000
2   31   30    300  3000
1   21   20    200  2000
******************************
   one  two  three  four
1   21   20    200  2000
2   31   30    300  3000
3   41   40    400  4000
0  111   10    100  1000
******************************
   one  two  three  four
1   21   20    200  2000
2   31   30    300  3000
3   41   40    400  4000
0  111   10    100  1000
******************************

#p)Groupby functions

In [12]:
cricket={"Team":['India','India','Australia','Australia','SA','SA','SA','SA','NZ','NZ','NZ','India'],
         "Rank":[2,3,4,2,3,4,1,1,2,4,1,2],
         "Year":[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         "Points":[876,801,891,815,776,784,834,824,758,691,883,782]
         }
a=pd.DataFrame(cricket)
print(a)
print("*"*30)
#****************************************************---Important one
print(a.groupby('Team'))
print("*"*30)
print(a.groupby('Team').groups)
print("*"*30)
#To search for specific Country with specific year
print(a.groupby(['Team','Year']).get_group(('Australia',2014)))
print("*"*30)


#If data is not present then we get an error
#     raise KeyError(gpr)
# KeyError: 'USA')


#Adding statistical Computation on top of groupby
print(a.groupby('Team')['Points'].sum()) #or
print("*"*30)
print(a.groupby('Team').sum()['Points'])
print("*"*30)
print(a.groupby('Team').sum()['Points'].sort_values())#ascending=False
print("*"*30)
#Checking multiple stats for points team wise
groups=a.groupby('Team')
print(groups)
print("*"*30)
print(groups['Points'].sum())
print("*"*30)
result = groups['Points'].agg(["sum","mean","std","max","min"])
print(result)
print("*"*30)
print(a.groupby('Team').filter(lambda x:len(x)==4))
print("*"*30)
print(a.groupby('Team').filter(lambda x:len(x)==3))

         Team  Rank  Year  Points
0       India     2  2014     876
1       India     3  2015     801
2   Australia     4  2014     891
3   Australia     2  2015     815
4          SA     3  2014     776
5          SA     4  2015     784
6          SA     1  2016     834
7          SA     1  2017     824
8          NZ     2  2016     758
9          NZ     4  2014     691
10         NZ     1  2015     883
11      India     2  2017     782
******************************
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001F843663800>
******************************
{'Australia': [2, 3], 'India': [0, 1, 11], 'NZ': [8, 9, 10], 'SA': [4, 5, 6, 7]}
******************************
        Team  Rank  Year  Points
2  Australia     4  2014     891
******************************
Team
Australia    1706
India        2459
NZ           2332
SA           3218
Name: Points, dtype: int64
******************************
Team
Australia    1706
India        2459
NZ           2332
SA           3218
Name: Points, dtype: int64
******************************
Team
Australia    1706
NZ           2332
India        2459
SA           3218
Name: Points, dtype: int64
******************************
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001F84398EF00>
******************************
Team
Australia    1706
India        2459
NZ           2332
SA           3218
Name: Points, dtype: int64
******************************
            sum        mean        std  max  min
Team
Australia  1706  853.000000  53.740115  891  815
India      2459  819.666667  49.702448  876  782
NZ         2332  777.333333  97.449132  883  691
SA         3218  804.500000  28.769196  834  776
******************************
  Team  Rank  Year  Points
4   SA     3  2014     776
5   SA     4  2015     784
6   SA     1  2016     834
7   SA     1  2017     824
******************************
     Team  Rank  Year  Points
0   India     2  2014     876
1   India     3  2015     801
8      NZ     2  2016     758
9      NZ     4  2014     691
10     NZ     1  2015     883
11  India     2  2017     782

3)Working with csv files and basic data analysis using Pandas

a)Reading csv file

In [18]:
import pandas as pd                                                               
a=pd.read_csv('Football.csv')#Or the link
print(a)
print(a.head())#Print 5 lines (first by default)

          Country      League   Club       Player Names  Matches_Played  \
0           Spain     La Liga  (BET)    Juanmi Callejon              19
1           Spain     La Liga  (BAR)  Antoine Griezmann              36
2           Spain     La Liga  (ATL)        Luis Suarez              34
3           Spain     La Liga  (CAR)       Ruben Castro              32
4           Spain     La Liga  (VAL)      Kevin Gameiro              21
..            ...         ...    ...                ...             ...
655   Netherlands  Eredivisie  (UTR)        Gyrano Kerk              24
656   Netherlands  Eredivisie  (AJA)      Quincy Promes              18
657   Netherlands  Eredivisie  (PSV)    Denzel Dumfries              25
658   Netherlands  Eredivisie    NaN    Cyriel Dessers               26
659   Netherlands  Eredivisie  (PSV)         Cody Gakpo              14

     Substitution   Mins  Goals     xG  xG Per Avg Match  Shots  OnTarget  \
0               16  1849     11   6.62              0.34     48        20
1                0  3129     16  11.86              0.36     88        41
2                1  2940     28  23.21              0.75    120        57
3                3  2842     13  14.06              0.47    117        42
4               10  1745     13  10.65              0.58     50        23
..             ...   ...    ...    ...               ...    ...       ...
655              0  2155     10   7.49              0.33     50        18
656              2  1573     12   9.77              0.59     56        30
657              0  2363      7   5.72              0.23     45        14
658              0  2461     15  14.51              0.56     84        43
659             11  1557      7   4.43              0.27     38        15

     Shots Per Avg Match  On Target Per Avg Match  Year
0                   2.47                     1.03  2016
1                   2.67                     1.24  2016
2                   3.88                     1.84  2016
3                   3.91                     1.40  2016
4                   2.72                     1.25  2016
..                   ...                      ...   ...
655                 2.20                     0.79  2020
656                 3.38                     1.81  2020
657                 1.81                     0.56  2020
658                 3.24                     1.66  2020
659                 2.32                     0.92  2020

[660 rows x 15 columns]
  Country   League   Club       Player Names  Matches_Played  Substitution   \
0   Spain  La Liga  (BET)    Juanmi Callejon              19             16
1   Spain  La Liga  (BAR)  Antoine Griezmann              36              0
2   Spain  La Liga  (ATL)        Luis Suarez              34              1
3   Spain  La Liga  (CAR)       Ruben Castro              32              3
4   Spain  La Liga  (VAL)      Kevin Gameiro              21             10

   Mins  Goals     xG  xG Per Avg Match  Shots  OnTarget  Shots Per Avg Match  \
0  1849     11   6.62              0.34     48        20                 2.47
1  3129     16  11.86              0.36     88        41                 2.67
2  2940     28  23.21              0.75    120        57                 3.88
3  2842     13  14.06              0.47    117        42                 3.91
4  1745     13  10.65              0.58     50        23                 2.72

   On Target Per Avg Match  Year
0                     1.03  2016
1                     1.24  2016
2                     1.84  2016
3                     1.40  2016
4                     1.25  2016

In [ ]:
b)Info of the file using pandas

In [26]:
print(a.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  660 non-null    object
 1   League                   660 non-null    object
 2   Club                     626 non-null    object
 3   Player Names             660 non-null    object
 4   Matches_Played           660 non-null    int64
 5   Substitution             660 non-null    int64
 6   Mins                     660 non-null    int64
 7   Goals                    660 non-null    int64
 8   xG                       660 non-null    float64
 9   xG Per Avg Match         660 non-null    float64
 10  Shots                    660 non-null    int64
 11  OnTarget                 660 non-null    int64
 12  Shots Per Avg Match      660 non-null    float64
 13  On Target Per Avg Match  660 non-null    float64
 14  Year                     660 non-null    int64
dtypes: float64(4), int64(7), object(4)
memory usage: 77.5+ KB
None

c)isnull() function to check if there are any nan values

c)isnull() usage in pandas

In [13]:
import pandas as pd
a=pd.read_csv('Football.csv')
print(a.isnull())#GIVES TRUE OR FALSE in all rows and columns
print(a.isnull().sum())#Gives the sum values of all rows which are empty or not

     Country  League   Club  Player Names  Matches_Played  Substitution   \
0      False   False  False         False           False          False
1      False   False  False         False           False          False
2      False   False  False         False           False          False
3      False   False  False         False           False          False
4      False   False  False         False           False          False
..       ...     ...    ...           ...             ...            ...
655    False   False  False         False           False          False
656    False   False  False         False           False          False
657    False   False  False         False           False          False
658    False   False   True         False           False          False
659    False   False  False         False           False          False

      Mins  Goals     xG  xG Per Avg Match  Shots  OnTarget  \
0    False  False  False             False  False     False
1    False  False  False             False  False     False
2    False  False  False             False  False     False
3    False  False  False             False  False     False
4    False  False  False             False  False     False
..     ...    ...    ...               ...    ...       ...
655  False  False  False             False  False     False
656  False  False  False             False  False     False
657  False  False  False             False  False     False
658  False  False  False             False  False     False
659  False  False  False             False  False     False

     Shots Per Avg Match  On Target Per Avg Match   Year
0                  False                    False  False
1                  False                    False  False
2                  False                    False  False
3                  False                    False  False
4                  False                    False  False
..                   ...                      ...    ...
655                False                    False  False
656                False                    False  False
657                False                    False  False
658                False                    False  False
659                False                    False  False

[660 rows x 15 columns]
Country                     0
League                      0
Club                       34
Player Names                0
Matches_Played              0
Substitution                0
Mins                        0
Goals                       0
xG                          0
xG Per Avg Match            0
Shots                       0
OnTarget                    0
Shots Per Avg Match         0
On Target Per Avg Match     0
Year                        0
dtype: int64

In [7]:
import pandas as pd
a=pd.read_csv('Football.csv')
print(a.describe(percentiles=[.00]))#Gives count,mean,std,50%,80%,max

       Matches_Played  Substitution          Mins       Goals          xG  \
count      660.000000     660.000000   660.000000  660.000000  660.000000
mean        22.371212       3.224242  2071.416667   11.810606   10.089606
std          9.754658       3.839498   900.595049    6.075315    5.724844
min          2.000000       0.000000   264.000000    2.000000    0.710000
0%           2.000000       0.000000   264.000000    2.000000    0.710000
50%         24.000000       2.000000  2245.500000   11.000000    9.285000
max         38.000000      26.000000  4177.000000   42.000000   32.540000

       xG Per Avg Match       Shots    OnTarget  Shots Per Avg Match  \
count        660.000000  660.000000  660.000000           660.000000
mean           0.476167   64.177273   28.365152             2.948015
std            0.192831   34.941622   16.363149             0.914906
min            0.070000    5.000000    2.000000             0.800000
0%             0.070000    5.000000    2.000000             0.800000
50%            0.435000   62.000000   26.000000             2.845000
max            1.350000  208.000000  102.000000             7.200000

       On Target Per Avg Match         Year
count               660.000000   660.000000
mean                  1.315652  2018.363636
std                   0.474239     1.367700
min                   0.240000  2016.000000
0%                    0.240000  2016.000000
50%                   1.250000  2019.000000
max                   3.630000  2020.000000
2915.8

In [11]:
import pandas as pd
a=pd.read_csv('Football.csv')
#Let us use the quantile function to get the exact value now
print(a['Mins'].quantile(.50))

2245.5

d)Quantile function in pandas

In [3]:
import pandas as pd
a=pd.read_csv('Football.csv')
#Let us use the quantile function to get the exact value now
print(a['Mins'].quantile(.99))

3520.0199999999995

e)Copy function

In [27]:
b=a.copy()
b.head(3)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016

In [29]:
b=a.copy()
b["year+100"]=b['Year']+100
b.head()

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year,year+100
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016,2116
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016,2116
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016,2116
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,14.06,0.47,117,42,3.91,1.40,2016,2116
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,10.65,0.58,50,23,2.72,1.25,2016,2116

f)Value_counts() function

#Returns unique values

In [30]:
a['Player Names'].value_counts()

Player Names
Lionel Messi          5
Luis Suarez           5
Fabio Quagliarella    5
Andrea Belotti        5
Robert Lewandowski    5
                     ..
Robson                1
Renato Kayzer         1
Donny van de Beek     1
Teun Koopmeiners      1
Cantalapiedra         1
Name: count, Length: 444, dtype: int64

g)Unique and nunique Function

In [22]:
a['Player Names'].unique()

array(['Juanmi Callejon', 'Antoine Griezmann', 'Luis Suarez',
       'Ruben Castro', 'Kevin Gameiro', 'Cristiano Ronaldo',
       'Karim Benzema', 'Neymar ', 'Iago Aspas', 'Sergi Enrich',
       'Aduriz ', 'Sandro Ramlrez', 'Lionel Messi', 'Gerard Moreno',
       'Morata', 'Wissam Ben Yedder', 'Willian Jose', 'Andone ',
       'Cedric Bakambu', 'Isco', 'Mohamed Salah', 'Gregoire Defrel',
       'Ciro Immobile', 'Nikola Kalinic', 'Dries Mertens',
       'Alejandro Gomez', 'Jose CallejOn', 'Iago Falque',
       'Giovanni Simeone', 'Mauro Icardi', 'Diego Falcinelli',
       'Cyril Thereau', 'Edin Dzeko', 'Lorenzo Insigne',
       'Fabio Quagliarella', 'Borriello ', 'Carlos Bacca',
       'Gonzalo Higuain', 'Keita Balde', 'Andrea Belotti', 'Fin Bartels',
       'Lars Stindl', 'Serge Gnabry', 'Wagner ', 'Andrej Kramaric',
       'Florian Niederlechner', 'Robert Lewandowski', 'Emil Forsberg',
       'Timo Werner', 'Nils Petersen', 'Vedad Ibisevic', 'Mario Gomez',
       'Maximilian Philipp', 'A\x81dam Szalai',
       'Pierre-Emerick Aubameyang', 'Guido Burgstaller', 'Max Kruse',
       'Chicharito ', 'Anthony Modeste', 'Arjen Robben', 'Alexis Sanchez',
       'Romelu Lukaku', 'Harry Kane', 'Jamie Vardy', 'Christian Benteke',
       'Pedro None', 'Eden Hazard', 'Roberto Firmino', 'Sadio Mane',
       'Philippe Coutinho', 'Diego Costa', 'Dele Alli', 'Sergio Aguero',
       'Jermain Defoe', 'Fernando Llorente', 'Michail Antonio',
       'Zlatan Ibrahimovic', 'Olivier Giroud', 'Son Heung-Min',
       'Joshua King', 'Diego Souza', 'Pablo ', 'Robinho ', 'Kempes ',
       'Gabriel Jesus', 'Bruno Rangel ', 'Rogerio ', 'Vitor Bueno',
       'Marinho ', 'Grafite ', 'Andres Chavez', 'Cicero Semedo', 'Sassa',
       'Giorgian de Arrascaeta', 'Keno ', 'Fred ', 'Kleber Gladiador',
       'Pottker ', 'Jonathan Copete', 'Ricardo Oliveira',
       'Angel Rodriguez', 'Gareth Bale', 'Rodrigo None', 'Sergio Leon',
       'Maxi Gomez', 'Mikel Oyarzabal', 'Willian Josa', 'Simone Zaza',
       'Portu ', 'Cristhian Stuani', 'Santi Mina', 'Morales ', 'Munir ',
       'Jose Callejon', 'Sergej Milinkovic-Savic', 'Duvan Zapata',
       'Paulo Dybala', 'Mirco Antenucci', 'Luis Alberto',
       'Roberto Inglese', 'Josip Ilicic', 'Ivan Perisic',
       'Leonardo Pavoletti', 'Kevin Lasagna', 'Niclas Fullkrug',
       'Salomon Kalou', 'Thorgan Hazard', 'Jean-Kevin Augustin',
       'Sandro Wagner ', 'Leon Bailey', 'Daniel Didavi',
       'Alfred Finnbogason', 'Davie Selke', 'Mark Uth',
       'Michael Gregoritsch', 'Julian Brandt', 'Kevin Volland', 'Roger ',
       'Arthur Caike', 'Everton ', 'Hernanes ', 'Luiz Fernando',
       'Wellington Paulista', 'Santiago Trellez', 'Jo', 'Thiago Neves',
       'Bruno Henrique', 'Dudu ', 'Diego ', 'Lucca ', 'Henrique Dourado',
       'Andre', 'Edigar Junio ', 'Junior  Dutra', 'Jaime Mata',
       'Inaki Williams', 'Chimy Avila', 'Raul de Tomas', 'Pablo Sarabia',
       'Borja Iglesias', 'Jorge Molina', 'Charles', 'Arkadiusz Milik',
       'Mandzukic None', 'Andrea Petagna', 'Francesco Caputo',
       'Stephan El Shaarawy', 'Gervinho ', 'Krzysztof Piatek',
       'Alassane Plea', 'Kai Havertz', 'Luka Jovic', 'Ante Rebic',
       'Jadon Sancho', 'Ondrej Duda', 'Paco Alcacer', 'Benito Raman',
       'Wout Weghorst', 'Ishak Belfodil', 'Marco Reus',
       'Jean-Philippe Mateta', 'Sebastien Haller', 'Yussuf Poulsen',
       'Angel Di Maria', 'Remi Oudin', 'Nicolas Pepe', 'Emiliano Sala',
       'Jonathan Bamba', "M'Baye Niang", 'Edinson Cavani',
       'Stephane Bahoken', 'Max Gradel', 'Florian Thauvin',
       'Kylian Mbappe-Lottin', 'Wahbi Khazri', 'Falcao ',
       'Gaetan Laborde', 'Andy Delort', 'Moussa Dembele', 'Memphis Depay',
       'Lebo Mothiba', 'Francois Kamano', 'Luka Milivojevic',
       'Paul Pogba', 'Ashley Barnes', 'Glenn Murray', 'Richarlison ',
       'Callum Wilson', 'Gylfi Sigurdsson', 'Raheem Sterling',
       'Ayoze Perez', 'Alexandre Lacazette', 'Raul Jimenez',
       'Lucas Paqueta', 'Juan Cazares', 'Deyverson ', 'Leandro Damiao ',
       'Yago Pikachu', 'Rodrygo ', 'Andres Rios', 'Roger Guedes ',
       'Leandro Pereira ', 'Pedro ', 'Nico Lupez', 'Nene ', 'Gilberto ',
       'Henrique ', 'Willian ', 'Gabriel Barbosa', 'Diego Rossi',
       'Josef Martinez', 'Chris Wondolowski', 'Nani ', 'Kacper Przybylko',
       'Kei Kamara', 'C.J. Sapong', 'Gyasi Zardes', 'Heber ',
       'Mauro Manotas', 'Brian Fernandez', 'Alejandro Pozuelo',
       'Felipe Gutierrez', 'Jordan Morris', 'Raul Ruidiaz',
       'Jozy Altidore', 'Carlos Vela', 'Nemanja Nikolic',
       'Alexandru Mitrita', 'Joselu', 'Carlos Fernandez', 'Ante Budimir',
       'Lucas Perez', 'Loren Moron', 'Raul Garcla', 'Morata ',
       'Sergio Ramos', 'Lucas Ocampos', 'Cazorla ', 'Pote ',
       'Tiquinho Soares', 'Eduardo Mancha', 'Paulinho ', 'Alex Telles',
       'Bruno Viana', 'Mehrdad Mohammadi', 'Carlos Valenzuela',
       'Ruben Lameiras', 'Moussa Marega', 'Gian-Luca Waldschmidt',
       'Samuel Lino', 'Andre Andre', 'Mehdi Taremi', 'Carlos Vinicius',
       'Sergio Oliveira', 'Douglas Tanque', 'Fabio Abreu',
       'Brayan Riascos', 'Alex Telles ', 'Fabio Martins',
       'Haris  Seferovic', 'Joao Teixeira', 'Bruno Fernandes',
       'Angel Gomes', 'Toni MartÃ\xadnez', 'Pizzi ', 'Bozhidar Kraev',
       'Sandro Lima', 'Rodrigo Pinho', 'Thiago Santana', 'Trincao ',
       'Andraz Sporar', 'Ricardo Horta', 'Bruno Duarte', 'Nuno Santos',
       'Domenico Berardi', 'Joao Pedro', 'Andreas Cornelius',
       'Marco Mancosu', 'Lautaro Martrinez', 'Luis Muriel',
       'Gianluca Lapadula', 'Marcus Thuram', 'Rouwen Hennings',
       'Andre Silva', 'Erling Haaland', 'Jhon Cordoba', 'Robin Quaison',
       'Sebastian Andersson', 'Dimitri Payet', 'Kasper Dolberg',
       'Adrien Thomasson', 'Dario Benedetto', 'Ludovic Ajorque',
       'Islam Slimani', 'Adrien Hunou', 'Denis Bouanga',
       'Sehrou Guirassy', 'Ã\x81ngel Di Maria', 'Habib Diallo',
       'Victor Osimhen', 'Dominic Calvert-Lewin', 'Kevin De Bruyne',
       'Chris Wood', 'Anthony Martial', 'Riyad Mahrez', 'Marcus Rashford',
       'Danny Ings', 'Richarlison  ', 'Teemu Pukki', 'Tammy Abraham',
       'Thiago Galhardo', 'Paolo Guerrero', 'Pepe', 'Michael ',
       'Carlos Sanchez', 'Everaldo ', 'Artur ', 'Marcelo  Cirino',
       'Yeferson Soteldo', 'Eduardo Sasha', 'Rafael Moura', 'Antony None',
       'Quincy Promes', 'Dusan Tadic', 'Armando Broja', 'Steven Berghuis',
       'Michael de Leeuw', 'Lois Openda', 'Danilo Nome', 'Lennart Thy',
       'Donyell Malen', 'Noni Madueke', 'Davy Klaassen',
       'Oussama Tannane', 'Vaclav Cerny', 'Vangelis Pavlidis',
       'Henk Veerman', 'Abdou Harroui', 'Rai Vloet', 'Lassina Traore',
       'Georgios Giakoumakis', 'Alex Pozuelo', 'Kevin Molino',
       'Damir Kreilach', 'Bradley Wright-Phillips', 'Nicolas Lodeiro',
       'Daryl Dike', 'Cristian Pavon', 'Chris Mueller', 'Romell Quioto',
       'Gustavo Bou', 'Robert Beric', 'Ayo Akinola', 'Jeremy Ebobisse',
       'Diego Valeri', 'Youssef   En-Nesyri', 'Carlos Soler',
       'Cristian Tello', 'Esteban Burgos', 'Joao Felix',
       'Federico Valverde', 'Kike GarcIa', 'Ansu Fati', 'Roberto Soriano',
       'Gaetano Castrovilli', 'Henrikh Mkhitaryan', 'Jordan Veretout',
       'Lautaro MartInez', 'Hirving Lozano', 'Lucas Alario', 'Bas Dost',
       'Dani Olmo', 'Ellyes Skhiri', 'Thomas Muller', 'Andre Hahn',
       'Daniel Caligiuri', 'Matheus Cunha', 'Ludovic Blas', 'Karl Toko',
       'Burak Yilmaz', 'Ibrahima Niane', 'Boulaye Dia', 'Moise Kean',
       'Ignatius Ganago', 'Irvin Cardona', 'Wissam Ben', 'Amine Gouiri',
       'Mama Balde', 'Gael Kakuta', 'James Ward-Prowse', 'Diogo Jota',
       'Wilfried Zaha', 'Jack Grealish', 'Jarrod Bowen',
       'Patrick Bamford', 'Danny Ings ', 'Neal Maupay', 'Ollie Watkins',
       'Luciano ', 'Vinicius ', 'Raphael Veiga', 'Luiz Adriano',
       'Cleber ', 'German Cano', 'Brenner None', 'Matheus Babi',
       'Alerrandro ', 'Claudinho ', 'Robson', 'Renato Kayzer',
       'Donny van de Beek', 'Teun Koopmeiners', 'Cantalapiedra ',
       'Bryan Linssen', 'Matavz ', 'Oussama Idrissi', 'Chidera Ejuke',
       'Myron Boadu', 'Klaas-Jan Huntelaar', 'Haris Vuckic',
       'Gyrano Kerk', 'Denzel Dumfries', 'Cyriel Dessers ', 'Cody Gakpo'],
      dtype=object)

In [32]:
a['Player Names'].nunique()

444

h) dropna() function

In [84]:
a=pd.read_csv("Football.csv")
a.head()

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,14.06,0.47,117,42,3.91,1.40,2016
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,10.65,0.58,50,23,2.72,1.25,2016

deletes all null values in row wise and column wise respectively

In [4]:
a.dropna(inplace=True,axis=0)

In [5]:
a.dropna(inplace=True,axis=0)

i)Fillna Function

In [87]:
a.isnull().sum()

Country                    0
League                     0
Club                       0
Player Names               0
Matches_Played             0
Substitution               0
Mins                       0
Goals                      0
xG                         0
xG Per Avg Match           0
Shots                      0
OnTarget                   0
Shots Per Avg Match        0
On Target Per Avg Match    0
Year                       0
dtype: int64

In [98]:
a=pd.read_csv("Football.csv")
print(len(a))
b=round(a['xG'].mean(),2)
print(b)

660
10.09

In [95]:
a['Club'].fillna(b)
a.head()

660

In [99]:
a.isnull().sum()

Country                     0
League                      0
Club                       34
Player Names                0
Matches_Played              0
Substitution                0
Mins                        0
Goals                       0
xG                          0
xG Per Avg Match            0
Shots                       0
OnTarget                    0
Shots Per Avg Match         0
On Target Per Avg Match     0
Year                        0
dtype: int64

j)Sample Function  #Used to generate a random row and column of the data

In [ ]:
a=pd.csv_read("Football.csv")
a.sample()

k)to_csv function

In [ ]:
import pandas as pd
data={'one':pd.Series([1,2,3,4]),
      'two':pd.Series([10,20,30,40]),
      'three':pd.Series([100,200,300,400]),
      'four':pd.Series([1000,2000,3000,4000])
      }
a=pd.DataFrame(data)
a

In [ ]:
a.to_csv("Number.csv")

Remove the first unwanted columns

In [ ]:
a=pd.read_csv("Number.csv")
a

In [ ]:
a.to_csv("Number.csv",index=False)